body
{
/* background: url('src/img_login2.jpeg'); */
background-size: cover;
background-position-y: -99px ;
}
#wrapper{
    min-height: 100vh;
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
}
 #frm-login
{
    width: 320px; /* Rộng hơn */
    height: 320px; /* Ngắn hơn */
    background: rgba(0, 100, 0, 0.548);
    padding-top: 60px;
    padding-left: 60px;
    box-shadow: 0px 0px 17px 2px rgba(255, 255, 255, 0.8);


    
}

.frm-heading
{
    color: rgb(255, 255, 255);
    position: relative;
    left: 15%; /* Đẩy h1 ra giữa theo chiều ngang */
    top: 5px; /* Điều chỉnh khoảng cách từ phía trên theo pixel */
}
.frm-group1 i {
    position: relative;
    left: -20px; /* Đẩy icon về trái */
    color: #fff

}
.frm-group2 i {
    position: relative;
    left: -20px; /* Đẩy icon về trái */
    color: #fff
    
}

#lock
{   
    color: black;
    display: flex;
    position: relative;
    top : -42px;
    left: 250px;
    cursor: pointer;
 
}


.input-password {
    position: relative;
    left: -20px; /* Đẩy icon về trái */
    width: 250px; /* Chiều rộng 300px */
    height: 20px; /* Tăng chiều cao ô nhập liệu */
    padding: 10px; /* Thêm padding để ô nhập liệu thoải mái hơn */
    margin-bottom: 15px; /* Khoảng cách giữa các ô nhập liệu */
    border: none; /* Không viền */
    border-radius: 5px; /* Bo góc cho ô nhập liệu */
    background: rgba(255, 255, 255, 0.966); /* Màu nền nhẹ */
    color: rgba(0, 0, 0, 0.548); /* Màu chữ trắng */
    font-size: 16px; /* Kích thước chữ */
    
}
.input-username {
    position: relative;
    left: -20px; /* Đẩy icon về trái */
    width: 250px; /* Chiều rộng 300px */
    height: 20px; /* Tăng chiều cao ô nhập liệu */
    padding: 10px; /* Thêm padding để ô nhập liệu thoải mái hơn */
    margin-bottom: 15px; /* Khoảng cách giữa các ô nhập liệu */
    border: none; /* Không viền */
    border-radius: 5px; /* Bo góc cho ô nhập liệu */
    background: rgba(255, 255, 255, 0.966); /* Màu nền nhẹ */
    color: rgba(0, 0, 0, 0.548); /* Màu chữ trắng */
    font-size: 16px; /* Kích thước chữ */
    
}

.login_button input[type="submit"]{
    border: 2px solid white; /* Thêm viền trắng */
    text-transform: uppercase;
    font-size: 16px;
    color: rgb(233, 233, 247);
    background: transparent;
    height: 30px;
    width: 100%;
    position: relative;
    left: -8%; /* Đẩy h1 ra giữa theo chiều ngang */
    top: 20px; /* Điều chỉnh khoảng cách từ phía trên theo pixel */
}
