
html,body {
    margin: 0;
}



#wrapper{
    max-width: 100%;
    border: 1px black solid;
    margin: 0px auto;
    
}

#header{
    background: darkgreen;
    box-sizing: content-box;
    padding: 5px 10px;
    
    color: white;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    justify-items: center;
    align-items: center;
    
}

#user {
    background: white;
}

#nav-item {
    background-color: #ccc;
    margin: 10px;
    padding: 0px;
    height: 30px;
    list-style: none;
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
}

#nav-box {
    padding: 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#main-content{
    min-height: 560px;
    display: flex;
    flex-flow: row;
    justify-content: center;
    border-style:solid;
    border: 0px;
}

#content{
    width: 40%;
    height: 1000px;
    
}

#side:hover img {
    
    box-sizing: border-box;
    background: rgba(0, 150, 0, 0.8);
    
    width: 30px;
    height: 30px;
    
}

#side-bar{
    width: 20%;
    height: 120px;
    border: 1px black solid;
}

footer{
    bottom: 0px;
    padding: 10px;
    text-align: center;
    color: white;
    background-color: rgb(14, 140, 33);
}